{{plot-ly
  chartData=chartData
  chartLayout=chartLayout
  chartConfig=chartConfig
  plotlyEvents=plotlyEvents
  onPlotlyEvent=(action 'onPlotlyEvent')
}}
<ul>
  <li>lastClicked: {{lastClicked}}</li>
  <li>lastDoubleClicked: {{lastDoubleClicked}}</li>
</ul>
