<div id={{_plotlyContainerId}}></div>
{{#each _traces as |trace i|}}{{/each}}
{{!#each traces as |trace i|}}
  {{!plotly-trace
    x=trace.x
    y=trace.y
    type=trace.type
    onTraceDataChanged=(action 'traceDataChanged' i)
    onTraceTypeChanged=(action 'traceTypeChanged' i)
  }}
{{!/each}}